 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Tomato Hunter</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                 <p>
                 We do webhosting for Bitcoin.
                 </p>
                </div>
                <div class="col-lg-4">
                  <footer>
                    <p>
                      <a href="/docs">Documentation</a>
                      <br>
                      <a href="#/faq">FAQ</a>
                      <br>
                      <a href="/tos">Terms of service</a>
                      <br>
                      <a href="/aup">Acceptable use policy</a>
                      <br>
                      <a target="_blank" href="https://www.staticgen.com/">Top static website generators</a>
                      <br>
                      <a target="_blank" href="http://www.coindesk.com/information/what-is-bitcoin/">What is bitcoin?</a>

                    </p>
                  </footer>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#portfolio" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> See our plans
                    </a>
                </div>
            </div>
        </div>
    </section>
