 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" }}"></script>
    <script src="{{ "/js/classie.js" }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" }}"></script>
    {% if site.contact == "static" %}
    <script src="{{ "/js/contact_me_static.js" }}"></script>
    {% else %}
     <script src="{{ "/js/contact_me.js" }}"></script>
    {% endif %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" }}"></script>

    {% if site.contact == "disqus" %}
    <!-- Disqus Stuff -->
    {% include js_disqus.html %}
    {% endif %}

    <script src="/js/bitcoinprices.js"></script>
    <script>
        $(document).ready(function() {
            bitcoinprices.init({
                url: "https://api.bitcoinaverage.com/ticker/all",
                marketRateVariable: "24h_avg",
                currencies: ["BTC", "USD", "EUR", "CAD"],
                // Special currency symbol artwork
                symbols: {
                    "BTC": "<i class='fa fa-btc'></i>"
                },
                defaultCurrency: "BTC",
                ux : {
                    clickPrices : true,
                    menu : true,
                    clickableCurrencySymbol:  true
                },
                jQuery: jQuery,
                priceAttribute: "data-btc-price",
                priceOrignalCurrency: "BTC"
            });
        });
    </script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74051276-1', 'auto');
    ga('send', 'pageview');

    </script>
